# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# Libraries
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [3]:
# your code here
admision=pd.read_csv('Admission_Predict.csv')
admision.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [4]:
# your code here
admision.columns = admision.columns.str.replace(' ', '')

Let's evaluate the dataset by looking at the `head` function.

In [5]:
# your code here
admision.head()

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [6]:
# your code here
missing_values = ["n/a", "na", "--"]
ddf = pd.read_csv('Admission_Predict.csv', na_values = missing_values)

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [7]:
# your code here
ddf.set_index('Serial No.', drop=False)

ddf.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [8]:
# your code here
print(len(ddf.apply(lambda x: (x['GRE Score'], x['CGPA']), axis=1).unique()))
ddf['GRE Score'].size

385

385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [10]:
# your code here
ddf.reset_index(inplace=True)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [24]:
# your code here

ddf[(ddf["CGPA"] > 9) & (ddf["Research"] == 1)]

,level_0,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,0,0,1,337,118,4,4.5,4.5,9.65,1,0.92
4,4,4,5,330,115,5,4.5,3.0,9.34,1,0.90
10,10,10,11,328,112,4,4.0,4.5,9.10,1,0.78
19,19,19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,20,20,21,334,119,5,5.0,4.5,9.70,1,0.95
21,21,21,22,336,119,5,4.0,3.5,9.80,1,0.97
28,28,28,29,338,118,4,3.0,4.5,9.40,1,0.91
29,29,29,30,340,114,5,4.0,4.0,9.60,1,0.90
30,30,30,31,331,112,5,4.0,5.0,9.80,1,0.94
31,31,31,32,320,110,5,5.0,5.0,9.20,1,0.88
40,40,40,41,326,113,5,4.5,4.0,9.40,1,0.91
41,41,41,42,322,110,5,5.0,4.0,9.10,1,0.88
42,42,42,43,329,114,5,4.0,5.0,9.30,1,0.86
64,64,64,65,318,109,3,3.5,4.0,9.22,1,0.68
65,65,65,66,328,115,4,4.5,4.0,9.16,1,0.78
66,66,66,67,332,118,5,5.0,5.0,9.64,1,0.94
67,67,67,68,336,112,5,5.0,5.0,9.76,1,0.96
68,68,68,69,321,111,5,5.0,5.0,9.45,1,0.93
69,69,69,70,314,108,4,4.5,4.0,9.04,1,0.84
77,77,77,78,340,120,4,5.0,5.0,9.50,1,0.96
78,78,78,79,320,110,5,5.0,4.5,9.22,1,0.92
79,79,79,80,322,115,5,4.0,4.5,9.36,1,0.92
80,80,80,81,340,115,5,4.5,4.5,9.45,1,0.94
93,93,93,94,332,119,4,5.0,4.5,9.24,1,0.90
99,99,99,100,326,112,3,3.5,3.0,9.05,1,0.74
101,101,101,102,329,111,4,4.5,4.5,9.18,1,0.87
102,102,102,103,338,117,4,3.5,4.5,9.46,1,0.91
103,103,103,104,331,116,5,5.0,5.0,9.38,1,0.93
110,110,110,111,310,106,4,4.5,4.5,9.04,1,0.66
115,115,115,116,335,117,5,5.0,5.0,9.56,1,0.94
...,...,...,...,...,...,...,...,...,...,...,...
231,231,231,232,325,114,3,3.5,3.0,9.04,1,0.76
233,233,233,234,328,110,4,4.0,2.5,9.02,1,0.81
241,241,241,242,335,115,4,4.5,4.5,9.68,1,0.93
246,246,246,247,331,119,4,5.0,4.5,9.34,1,0.90
247,247,247,248,327,108,5,5.0,3.5,9.13,1,0.87
263,263,263,264,329,113,5,5.0,4.5,9.45,1,0.89
268,268,268,269,317,110,3,4.0,4.5,9.11,1,0.80
271,271,271,272,340,112,4,5.0,4.5,9.66,1,0.94
272,272,272,273,331,116,5,4.0,4.0,9.26,1,0.93
273,273,273,274,336,118,5,4.5,4.0,9.19,1,0.92
274,274,274,275,324,114,5,5.0,4.5,9.08,1,0.89
285,285,285,286,330,114,3,4.5,4.5,9.24,1,0.90
293,293,293,294,323,110,3,4.0,3.5,9.10,1,0.79
298,298,298,299,328,108,4,4.5,4.0,9.18,1,0.84
311,311,311,312,326,116,3,3.5,4.0,9.14,1,0.81
322,322,322,323,332,118,5,5.0,5.0,9.47,1,0.94
346,346,346,347,334,116,4,4.0,3.5,9.54,1,0.93
347,347,347,348,338,115,5,4.5,5.0,9.23,1,0.91
350,350,350,351,330,114,4,4.5,3.0,9.17,1,0.86
356,356,356,357,324,110,3,3.5,3.0,9.22,1,0.89
357,357,357,358,336,119,4,4.5,4.0,9.62,1,0.95
367,367,367,368,324,110,4,4.5,4.0,9.15,1,0.82
369,369,369,370,340,113,4,5.0,5.0,9.74,1,0.96
370,370,370,371,335,117,5,5.0,5.0,9.82,1,0.96
377,377,377,378,326,112,4,4.0,3.5,9.12,1,0.84
379,379,379,380,329,111,4,4.5,4.0,9.23,1,0.89
380,380,380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,381,381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,382,382,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,384,385,333,117,4,5.0,4.0,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [30]:
# your code here
#ddf[(ddf["CGPA"] > 9) & (ddf["SOP"]<3.5)]["Chance of Admit"].mean()
x=ddf[(ddf["CGPA"]>9) & (ddf["SOP"]<3.5)]
x["Chance of Admit "].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [31]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    return (col - np.mean(col))/np.std(col)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [37]:
# your code here
admissions = ddf.copy()

admissions["CGPA_std"] = standardize(admissions["CGPA"])
admissions["GRE_std"] = standardize(admissions["GRE Score"])
admissions["LOR_std"] = standardize(admissions["LOR "])
#admissions

We will generate the decision choice at random using the code below. Please run the cell.

In [38]:
# Libraries
from random import choices

In [41]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [43]:
# your code here
admissions["deciding_column"] = admissions.lookup(admissions.index, decision_choice)

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [45]:
# your code here
admissions["decision"] = np.where(admissions["deciding_column"]>0.8, 1, 0)

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [46]:
# your code here
admissions["decision"].sum()

85

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [48]:
# your code here
import re
admissions.columns = [re.sub("[\W]", "", re.sub(" ", "_", x)).lower() for x in admissions.columns]
admissions.columns

Index(['level_0', 'index', 'serial_no', 'gre_score', 'toefl_score',
       'university_rating', 'sop', 'lor_', 'cgpa', 'research',
       'chance_of_admit_', 'cgpa_std', 'gre_std', 'lor_std', 'deciding_column',
       'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [49]:
# your code here
adjusted_gre = pd.cut(np.where(admissions["university_rating"]>=4, admissions["gre_score"]+10, admissions["gre_score"]),bins=4)
adjusted_gre

[(335.0, 350.0], (305.0, 320.0], (320.0, 335.0], (305.0, 320.0], (335.0, 350.0], ..., (320.0, 335.0], (320.0, 335.0], (335.0, 350.0], (305.0, 320.0], (335.0, 350.0]]
Length: 385
Categories (4, interval[float64]): [(289.94, 305.0] < (305.0, 320.0] < (320.0, 335.0] < (335.0, 350.0]]